In [2]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import gkey

In [5]:
#Getting city dataframe from WeatherPy
city_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
city_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Busselton,-33.65,115.33,59.00,90,0,16.04,AU,1608418814
1,Hermanus,-34.42,19.23,62.01,90,0,1.01,ZA,1608419152
2,Port Alfred,-33.59,26.89,72.00,96,6,3.00,ZA,1608419176
3,Linares,-35.85,-71.60,72.36,33,36,13.02,CL,1608419311
4,Pevek,69.70,170.31,1.26,90,0,6.13,RU,1608419146

In [11]:
# Access maps with unique API key
gmaps.configure(api_key=gkey)

locations = city_df[["Lat", "Lng"]].astype(float)

# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=city_df["Humidity"], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
ideal_df = city_df[(city_df["Max Temp"] < 75) & (city_df["Max Temp"] >= 65) & (city_df["Cloudiness"] >= 40) & (city_df["Cloudiness"] < 70) & (city_df["Humidity"] < 50)]
                   #  & (city_df["Cloudiness"] < 0.7) & ]
ideal_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
462,Sennar,13.57,33.57,73.22,31,44,12.06,SD,1608419450